<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>headwayTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03387AA41F6FA4E200DCF3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03387AB81F6FA4E300DCF3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03387AC31F6FA4E300DCF3AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
